
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
 }
 
 
 header {
    background-color: #587e60;
    color: #ffffff;
    padding: 1rem 0;
 }
 
 
 nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
 }
 
 
 nav ul li {
    margin: 0 1rem;
 }
 
 
 nav ul li a {
    color: #ffffff;
    text-decoration: none;
 }
 
 
 
 
 section#home {
    text-align: center;
 }
 
 
 
 
 main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
 }
 
 
 section {
    margin-bottom: 2rem;
 }
 
 
 section h2 {
    color: #000000;
 }
 
 
 section h3 {
    color: #000000;
 }
 
 
 footer {
    background-color: #587e60;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
 }
 
 
 #home img.home-image {
    display: block;
    margin: 0 auto;
 }
 